[Unit]
Description=Slow Lamp Bespoke Version
After=graphical.target

[Service]
Type=simple
User=slowlamp3
WorkingDirectory=/home/slowlamp4/Documents/slowlamp
ExecStart=/home/slowlamp4/env/bin/python3 /home/slowlamp4/Documents/slowlamp/integrated/fgc_arnab.py
StandardOutput=append:/home/slowlamp4/Documents/my.log
StandardError=append:/home/slowlamp4/Documents/my.log
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
