!pairings-32-black_HD108_777.npz
!pairings-32-black_HD108_875.npz
!pairings-32-black_HD108_877-2.4.npz
!pairings-32-black_HD108_877-with_light.npz
!pairings-32-white_HD108_877_with_light.npz
!pairings-32-white_HD108_877.npz